<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eNotebook.SATE2012"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!--  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Menu"
            android:label="@string/sMenu" >
            <intent-filter>
                <action android:name="com.eNotebook.SATE2012.MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".eDailyMenu"
            android:label="@string/sDailyMenu" >
            <intent-filter>
                <action android:name="com.eNotebook.SATE2012.EDAILYMENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:name=".eDaily"
            android:label="@string/sDaily" >
            <intent-filter>
                <action android:name="com.eNotebook.SATE2012.EDAILY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:name=".Email"
            android:label="@string/sDaily" >
            <intent-filter>
                <action android:name="com.eNotebook.SATE2012.EMAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:name=".eDailyPreview"
            android:label="@string/sDailyPreview" >
            <intent-filter>
                <action android:name="com.eNotebook.SATE2012.EDAILYPREVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:name=".Option"
            android:label="@string/sOption" >
            <intent-filter>
                <action android:name="com.eNotebook.SATE2012.OPTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:name=".TwoFiftySevenMenu"
            android:label="@string/sTwoFiftySeven" >
            <intent-filter>
                <action android:name="com.eNotebook.SATE2012.TWOFIFTYSEVENMENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
    </application>

</manifest>